$color_primary: #5130a2;
$color_secondary: #ff2798;
$color_tertiary: #003d7d;
$color_accent: #ebebeb ;
/// $color_warn: #afafaf ;
$color_primary_accent: rgb(67, 36, 143);

$colo_gradient: linear-gradient(270deg, rgba(120,88,199,1) 0%, rgba(81,48,162,1) 78%);

$color_sucess: #28a745;