@import "src/styles/styles.colors.scss";

.title__event {
    color: white;
    border-radius: 8px;
    background: linear-gradient(
        270deg,
        rgba(136, 108, 204, 1) 0%,
        rgba(81, 48, 162, 1) 51%,
        rgba(81, 48, 162, 1) 98%
    ) !important;
}

.button__actions__dialog {
    margin-top: 15px;
    text-align: right;
}

.dialog__event__container {
    position: relative;
}

.btn {
    width: 50%;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 17px;
}

.btn__close {
    position: absolute;
    right: 0;
    top: 4px;
}

::ng-deep {
    .mat-fab:not([class*="mat-elevation-z"]),
    .mat-mini-fab:not([class*="mat-elevation-z"]) {
        box-shadow: none !important;
    }
    .mat-mini-fab {
        background: transparent;
        color: white;
    }
}

.form__schedule__content {
    margin-top: 10px;
}

.form__label {
    font-size: 17px;
    color: $color_primary;
    margin-bottom: 10px !important;
}

.text__center {
    text-align: center;
    font-weight: bold;
    margin: 5px;
    span {
        font-size: 20px !important;
    }
}

.checkbox__week {
    font-size: 16px;
    margin: 5px 0px;
}
